.footer{
    background: rgba(202, 206, 221, 0.8);
    position: relative;
    width:100%;
}

.footer .row3col1 {
	width: 100%;
    font-size: 1.8rem;
    margin-top: 0.8%;
}
.footer .row3col1 li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 1px;
}
.footer .row3col1 li a, .intro-social li a:visited {
    color: black;
    transition: 0.2s ease-in-out;
}
.footer .row3col1 li a:hover{
	color: #f06000;
}

.footer .row3col2 {
    margin-top:2%;
    text-align: left;
}



